// Define colors
$brainflix-black: #323232;
$brainflix-blue: #0095ff;
$silver: #afafaf;
$white: #ffffff;
$brainflix-dark-black: #000000;
$brainflix-dark-blue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Demi";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}

/* Define text styles */
$base-font-size: 13px;

/* Mobile styles (default) */
a{
  text-decoration: none;
}

.page-header,
.section-header,
.subheader,
.label,
.button {
  font-family: "Avenir Next Bold", sans-serif;
  font-weight: 700;
}

.page-header {
  font-size: 1.5rem;
  line-height: 2rem;
}

.section-header {
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.subheader {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

.body-copy {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

.label,
.button {
  font-size: 10px;
  line-height: 20px;
}

.mobile-layout {
  display: flex;
  flex-direction: column;
   align-items: center;
  //padding: 20px;
}

.divider, .divider_1 {
  margin-top: 16px;
  margin-bottom: 16px;
  border: none;
  height: 1px;
  background-color: $mercury;
  width: 100%;
}












/* Tablet styles */
@media only screen and (min-width: 768px) {
}






/* Desktop styles */
@media only screen and (min-width: 1280px) {
  .magic-container{
    display: flex;
} }
  



